vcenter_fqdn = "vcenter.sddc-52-25-186-217.vmwarevmc.com"
vcenter_username = "cloudadmin@vmc.local"
vcenter_password = "e+DObd3sWS2CS-n"
vcenter_cluster = "Cluster-1"
vcenter_resourcepool = "Compute-ResourcePool"
vcenter_datacenter = "SDDC-Datacenter"
vcenter_datastore = "WorkloadDatastore"
vcenter_folder = "Workloads"
vm_network = "sddc-cgw-network-1"

