vcenter_fqdn = "vcenter.fqdn"
vcenter_username = "cloudadmin@vmc.local"
vcenter_password = "secure_password"
vcenter_cluster = "Cluster-1"
vcenter_resourcepool = "Compute-ResourcePool"
vcenter_datacenter = "SDDC-Datacenter"
vcenter_datastore = "WorkloadDatastore"
vcenter_folder = "Workloads"
vm_network = "sddc-cgw-network-1"

